{% extends "core/base.html" %}

{% block nav %}
  <!-- Navs for filtering based on type of product (using tags) -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="text-decoration: none; color: inherit;" href="#">Books</a>
    </li>
{% endblock %}


{% block content %}
{% if user.profile.user_type == "CUSTOMER" or not user.is_authenticated %}
    {% for prod in prods %}
      {% if prod.seller.profile.user_type == "RETAILER" %}
        <div class="card mr-3" style="position: relative; top:1rem; left: 1rem; width: 20rem; margin-right: 0.5rem; margin-bottom: 0.5rem;">
            <a href="#">
                <img src="{{ prod.img.url }}" class="card-img-top" alt="Product image">
            </a>
            <div class="card-body">
                <a style="text-decoration: none; color:inherit" href="#">
                    <h5 class="card-title">{{ prod.title }}</h5>
                </a>
                <a class="card-subtitle text-muted" href="#">Sold by: {{ prod.seller }}</a>
                <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ prod.content }}</p>
            </div>
            <div class='card-footer'>
                <a href="{% url 'prod-detail' prod.id %}" class="card-link btn btn-outline-primary">View Product</a>
                <a href="#" class="card-link btn btn-primary">Add to Cart</a>
            </div>
          </div>  
      {% endif %}
    {% endfor %}
{% endif %}
    
{% if user.profile.user_type == "RETAILER"%}
    {% for prod in prods %}
      {% if prod.seller.profile.user_type == "WHOLESALER" %}
        <div class="card mr-3" style="top:1rem; left: 1rem; width: 20rem; margin-right: 0.5rem; margin-bottom: 0.5em;">
            <a href="#">
                <img src="{{ prod.img.url }}" class="card-img-top" alt="Product image">
            </a>
            <div class="card-body">
                <a style="text-decoration: none; color:inherit" href="#">
                    <h5 class="card-title">{{ prod.title }}</h5>
                </a>
                <a class="card-subtitle text-muted" href="#">Sold by: {{ prod.seller }}</a>
                <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ prod.content }}</p>
            </div>
            <div class='card-footer'>
                <a href="{% url 'prod-detail' prod.id %}" class="card-link btn btn-outline-primary">View Product</a>
                <a href="#" class="card-link btn btn-primary">Add to Cart</a>
            </div>
          </div>  
      {% endif %}
    {% endfor %}
{% endif %}

    
{% if request.user.profile.user_type == "WHOLESALER" %}
    {% for prod in prods %}
      {% if prod.seller.profile.user_type == "WHOLESALER" %}
        <div class="card mr-3" style="top:1rem; left: 1rem; width: 20rem; margin-right: 0.5rem; ">
            <a href="#">
                <img src="{{ prod.img.url }}" class="card-img-top" alt="Product image">
            </a>
            <div class="card-body">
                <a style="text-decoration: none; color:inherit" href="#">
                    <h5 class="card-title">{{ prod.title }}</h5>
                </a>
                <a class="card-subtitle text-muted" href="#">Sold by: {{ prod.seller }}</a>
                <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ prod.content }}</p>
            </div>
            <div class='card-footer'>
                <a href="{% url 'prod-detail' prod.id %}" class="card-link btn btn-outline-primary">View Product</a>
                <a href="#" class="card-link btn btn-primary">Add to Cart</a>
            </div>
          </div>  
      {% endif %}
    {% endfor %}
{% endif %}

    
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
     
{% endblock content %}