{% extends "core/base.html" %}
{% block content %}
    {% for prod in prods %}
    <div class="card mt-2" style="width: 18rem">
        <a href="#">
            <img src="{{ prod.img_src }}" class="card-img-top" alt="Product image">
        </a>
        <div class="card-body">
            <a style="text-decoration: none; color:inherit" href="#">
                <h5 class="card-title">{{ prod.title }}</h5>
            </a>
            <a class="card-subtitle text-muted" href="#">Sold by: {{ prod.seller }}</a>
            <p class="card-text">{{ prod.content }}</p>
            <a href="#" class="card-link btn btn-outline-primary">View Product</a>
            <a href="#" class="card-link btn btn-primary">Add to Cart</a>
        </div>
      </div>
    {% endfor %}
    <!--
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
      -->
{% endblock content %}