{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<center>
    <div class="content-section w-25 align-items-center"  style="position:relative;top:3em;">
       <form method="POST">
           <legend class="border-bottom mb-4">Edit prodcut - {{ prod.title }}</legend>
          {% csrf_token %}
          <div class="form-outline mb-4">
            <input name="title" type="text" value="{{ prod.title }}" class="form-control" />
         </div>
          <div class="form-outline mb-4">
             <input name="content" type="text" value="{{ prod.content }}" class="form-control" placeholder="{% if prod.content != '' %}{{ prod.content }}{% else %}No Description given{% endif %}"/>
          </div>
          <div class="form-outline mb-4">
            <input name="stock" type="number" class="form-control" value="{{ prod.stock }}"/>
         </div>
         <div class="form-outline mb-4">
            <select name="tags" class="form-control" value = "{{ prod.tags }}">
               <option value="veg" selected>Vegetables</option>
               
               <option value="fruit">Fruits</option>
               
               <option value="groc">Groceries</option>
            </select>
         </div>

         <div class="form-outline mb-4">
            <select name="measurment_unit" class="form-control" value = "{{ prod.measurment_unit }}">
               <option value="kg">Kilograms</option>
               <option value="lb">Pounds(lb)</option>
               <option value="no">Number (Individual pieces)</option>
               <option value="bags">Bags</option>
            </select>
         </div>

         <div class="form-outline mb-4">
            <input name="price_per_unit" type="number" step = "0.01" min="0" id="form1Example1" class="form-control" value = "{{ prod.price_per_unit }}"/>
         </div>

         <div class="form-outline mb-4">
            <input type="file" name="img" id="form1Example1" class="form-control" value="{{ prod.img.url }}" accept="image/*">
         </div>
         <!-- Submit button -->
          <button type="submit" value="Save" class="btn btn-primary btn-block">Update product</button>
       </form>
       <br>
</div>
</center>
{% endblock content %}