{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<center>
    <div class="content-section w-25 align-items-center"  style="position:relative;top:3em;">
       <form method="POST">
           <legend class="border-bottom mb-4">Add a prodcut</legend>
          {% csrf_token %}
          <div class="form-outline mb-4">
            <input name="title" type="text" id="form1Example1" class="form-control" placeholder="Product Title"/>
         </div>
          <div class="form-outline mb-4">
             <input name="content" type="text" id="form1Example1" class="form-control" placeholder="Description (optional)"/>
          </div>
          <div class="form-outline mb-4">
            <input name="stock" type="text" id="form1Example1" class="form-control" placeholder="First name"/>
         </div>
         <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block">Add product</button>
       </form>
       <br>
    <div class="border-top pt-3">
      <small class="text-muted">
      Add stock to an existing product <a class="ml-2" href="#">Login</a>
      </small>
   </div>
</div>
 </center>
{% endblock content %}