{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<center>
   {{ form.errors }}
    <div class="content-section w-25 align-items-center"  style="position:relative;top:3em;">
       <form method="POST">
           <legend class="border-bottom mb-4">Add a prodcut</legend>
          {% csrf_token %}
          <div class="form-outline mb-4">
            <input name="title" type="text" id="form1Example1" class="form-control" placeholder="Product Title"/>
         </div>
          <div class="form-outline mb-4">
             <input name="content" type="text" id="form1Example1" class="form-control" placeholder="Description (optional)"/>
          </div>
         <div class="form-outline mb-4">
            <input name="stock" type="number" step = "1" min="0" id="form1Example1" class="form-control" placeholder="Stock"/>
         </div>

         <div class="form-outline mb-4">
            <select name="tags" class="form-control">
               <option value="veg" selected>Vegetables</option>
               
               <option value="fruit">Fruits</option>
               
               <option value="groc">Groceries</option>
            </select>
         </div>

         <div class="form-group form-outline mb-4">
            <select name="measurment_unit" class="form-control custom-select">
               <option value="kg" selected>Kilograms</option>
               <option value="lb">Pounds(lb)</option>
               <option value="no">Number (Individual pieces)</option>
               <option value="bags">Bags</option>
            </select>
         </div>

         <div class="form-outline mb-4">
            <input name="price_per_unit" type="number" step = "0.01" min="0" id="form1Example1" class="form-control" placeholder="Price Per Unit in Rupees"/>
         </div>

         <div class="form-outline mb-4">
            <input type="file" class= "form-control" name="img" accept="image/*" id="id_img">
         </div>
         <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block">Add product</button>
       </form>
       <br>
    <div class="border-top pt-3">
      <small class="text-muted">
      Update or add stock to a listed product <br>
      <a class="ml-2" href="{% url 'seller-prods' user.username %}">My Products</a>
      </small>
   </div>
</div>
 </center>
{% endblock content %}