{% extends 'core/base.html' %}
{% block content %}
<center>
    <div class="text-danger">
       {{form.non_field_errors.as_text}}
    </div>
     <div class="content-section w-25 align-items-center"  style="position:relative;top:3em;">
        <form method="POST">
            <legend class="border-bottom mb-4">{% if created %}Add a Review{% else %}Update your Review{% endif %}</legend>
           {% csrf_token %}
           <div class="form-outline mb-4">
             <small id="usernameHelp" class="text-danger">
                {{form.errors.stars.as_text}}
             </small>
             {% if created %}
             <input required name="stars" type="number" min="0" max="5" step="1" id="form1Example1" class="form-control {% if form.errors.stars or form.non_field_errors %}border border-danger{% endif %}" placeholder="{% if created %} Rating (out of 5) {% else %} {{feedback.stars}} {% endif %}"/>
             {% else %}
             <input name="stars" type="number" min="0" max="5" step="1" id="form1Example1" class="form-control {% if form.errors.stars or form.non_field_errors %}border border-danger{% endif %}" placeholder="{% if created %} Rating (out of 5) {% else %} {{feedback.stars}} {% endif %}"/>
             {% endif %}
          </div>
 
           <div class="form-outline mb-4">
             <small id="usernameHelp" class="text-danger">
                {{form.errors.review.as_text}}
             </small> 
             <input name="review" type="text" id="form1Example1" class="form-control {% if form.errors.review or form.non_field_errors %}border border-danger{% endif %}" placeholder="Review (optional)"/>
           </div>
          <!-- Submit button -->
           <button type="submit" class="btn btn-primary btn-block">{% if created %}Add Review{% else %}Update Review{% endif %}</button>
        </form>
        <br>
 </div>
  </center>
{% endblock %}